package frontend

import (
	"github.com/mjalen/conway/life"
	"github.com/mjalen/conway/life/vector"
)

templ Life() {
	<div hx-ext="sse" sse-connect="/life/connection" sse-swap="message"></div>
}

templ Cell(alive bool) {
	if alive {
		<div id="b"></div>
	} else {
		<div id="w"></div>
	}
}

templ Board(s *life.System) {
	for y := 0; y < s.Size; y++ {
		<div id="r">
		for x := 0; x < s.Size; x++ {
			@Cell(s.Contains(vector.Pair{X: x, Y: y}))
		}
		</div>
	}
}
